*{ margin:0; padding:0; box-sizing:border-box; font-family: 'Montserrat', 'sans-serif';}

a{ text-decoration:none; color: #000; }
header, footer{ background-color: #000; color: #fff; }

.pie a, .menu a{ color:#fff; }
 
.menu{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	padding: 20px;
	justify-items: center;
	align-items: center;
}

.nav_menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
	
.login{
	background-color: lightgray;
	padding: 5px;
	border-radius: 10px;
}

.principal{ 
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
	justify-items: center;
}

.categorias{
	display: grid;
	grid-template-rows: 10% 90%;
	grid-gap: 5px;
}

.categorias__nav{
	display: grid;
	grid-gap: 5px;
}

.promociones{
	display: grid;
	justify-items: center;
}

.promociones__items{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
}

.servicios, .trending{
	display: grid;
	grid-template-rows: 10% 90%;
	justify-items: center;
	align-items: center;
	padding: 20px;
}

.trending{ background-color: #000; color:#fff; }
.trending_productos{ width:250px; height:250px; }
.trending_boton{ border: none; padding:10px; border-radius:10px; }
.trending__items-item{ 
	display: grid;
	justify-items: center;
	align-items: center;
	grid-gap: 5px;
}

.servicios__items, .trending__items{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	padding: 20px;
	grid-gap: 5px;
}

.servicios_iconos{ width:75px; height:75px; border-radius:10px; }
.servicios__items-item{ display:grid; justify-items:center; align-items:center; grid-gap:5px; }

.pie__top{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: left;
	justify-items: center;
	align-items: center;
}

.pie__top-nav, .pie__top-contacto{ display:grid; grid-gap:5px; padding:25px; }

.pie__top-nav_links{
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-gap: 10px;
}

.pie__top-info{ 
	display:grid; 
	grid-template-rows:repeat(2, 1fr); 
	justify-items: center;
	align-items: center;
}

.pie__copy{
	padding: 20px;
	text-align: center;
}

@media screen and (max-width: 500px){

	.menu, .principal, .servicios__items, .trending__items,.pie__top, .pie__top-info{ display:block; padding-bottom: 20px;}
	.trending__items { padding-bottom: 50px; }

}
